<!-- Main Body -->
<div id="main" class="row ">
    <div class="large-12 columns" id="container">
        <div class="row panel" id="main-header">
            <h2>Admin Panel</h2>
        </div>
        <div class="row_panel">
            <dl class="tabs" data-tab>
                <dd class="active"><a href="#panel2-1">Current Databases</a></dd>
                <dd><a href="#panel2-2">User Settings</a></dd>
                <dd><a href="#panel2-3">Logs</a></dd>
            </dl>
            <div class="tabs-content">
                <div class="content active" id="panel2-1">
                    <p>First panel content goes here...</p>
                </div>
                <div class="content" id="panel2-2">
                    <p>Second panel content goes here...</p>
                </div>
                <div class="content" id="panel2-3">
                    <p>Third panel content goes here...</p>
                </div>
            </div>
        </div>
    </div>
</div>
