<% provide(:title, "Admin Panel") %>
<dl class="tabs" data-tab>
    <dd class="active"><a href="#panel2-1">Current Databases</a></dd>
    <dd><a href="#panel2-2">User Settings</a></dd>
</dl>
<div class="tabs-content">
    <div class="content active" id="panel2-1">
        <% if @databases.length == 0 %>
            <em>No databases have been created yet</em>
        <% else %>
            <div class="row">
                <div class="large-6 large-centered columns">
                    <%= foundation_paginate @databases %>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th width="200">Database name</th>
                        <th>Database user</th>
                        <th>Database type</th>
                        <th>UID Number</th>
                        <th>Created at</td>
                    </tr>
                </thead>
                <tbody>
                    <%= render @databases %>
                </tbody>
            </table>
        <% end %>
    </div>
    <div class="content" id="panel2-2">
        <p>Second panel content goes here...</p>
    </div>
</div>
